.Header {
    width: 100%;
    height: 10%;
    padding: 0.5rem 0;
    background-color:  purple;
  }
  
  .Header__brand {
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  
  .Header__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Header__brand-logo {
    width: 10%;
    margin-right: 0.5rem;
  }

  .navbar__color{
    color: white;
  }